{% if post.categories contains 'blog' %}
    <header>
        <a href="{{ site.url }}{{ post.url }}" class="text-nav h3" title="{{ post.title }}">{{ post.title }}</a>
        <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></p>
    </header>
{% endif %}
{% if post.first-image %}
    <a href="{{ post.url | relative_url }}" class="img-desc small">
        <img class="img-responsive front-page" src="{{ site.assets-url }}{{ post.url }}{{ post.first-image }}" alt="{{ post.title }}">
        {% if post.categories contains 'portfolio' %}
            <p>{{ post.excerpt }}</p>
        {% endif %}
    </a>
    {% if post.categories contains 'blog' %}
        <p>{{ post.excerpt }}</p>
        <p class="text-center"><a href="{{ post.url | relative_url }}" class="text-nav" title="{{ post.title }}">…</a></p>
    {% endif %}
{% else %}
    <a href="{{ post.url | relative_url }}">{{ post.excerpt }}</a>
{% endif %}
