<footer class="site-footer">
    <div class="container-fluid">
    <br>
        <div class="text-center small">
            {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}">twitter</i></a>
            {% endif %}
            {% if site.email %}
                <a href="mailto:{{ site.email }}">email</i></a>
            {% endif %}
            {% if site.tumblr_url %}
                <a href="{{ site.tumblr_url }}">tumblr</i></a>
            {% endif %}
            {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}">github</i></a>
            {% endif %}
            {% if site.pgpkey_url %}
                <a href="{{ site.pgpkey_url }}">pgp public key</a>
            {% endif %}
        </div>
    </div>
</footer>
