<footer class="small text-center">
            {% if site.twitter.username %}
                <a class="text-nav" href="https://twitter.com/{{ site.twitter.username }}">twitter</i></a>
            {% endif %}
            {% if site.email %}
                <a class="text-nav" href="mailto:{{ site.email }}">email</i></a>
            {% endif %}
            {% if site.tumblr_username %}
                <a class="text-nav" href="http://{{ site.tumblr_username }}.tumblr.com/">tumblr</i></a>
            {% endif %}
            {% if site.github_username %}
                <a class="text-nav" href="https://github.com/{{ site.github_username }}">github</i></a>
            {% endif %}
            {% if site.pgpkey_url %}
                <a class="text-nav" href="{{ url }}/{{ site.pgpkey_url }}">pgp public key</a>
            {% endif %}
</footer>
