<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url }}/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url }}/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ url }}/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ url }}/favicon-16x16.png" sizes="16x16" />
  <style>{% include main.css %}</style>
  {% seo %}
  {% feed_meta %}
</head>
