// Add my styles here
a {
  text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: $oot-complementary;
      }
}

.text-nav {
  a {
    text-decoration: none;

    &.current-page {
      color: $oot-complementary;
    }

  }
}

img {
  &.include {
    width: 100%;
  }
}

.portfolio {
  &:hover,
  &:focus,
  &:active {
    opacity: .6;
  }
}

.separator {
  background-image: url('/texoot.svg');
  height: 1rem;

  &.around-top {
    height: 1.75rem;
  }
}

.some-whitespace {
  margin: .25em 0;
}

.hatch {
  font-size: .8em;
  padding: 0 .2em;
  vertical-align: middle;
}
