// Add my styles here
a {
  text-decoration: underline;

  &.text-nav {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $text-muted;
    }
  }

  &.current-page {
    color: $current-page-color;
  }
}

img {
  &.include {
    width: 100%;
  }
}

.portfolio {
  &:hover,
  &:focus,
  &:active {
    opacity: .6;
  }
}

.logo {
  background-image: url('/texoot.svg');
  padding: .75em 0;
}

.separator {
  height: 2rem;
}

.hatch {
  font-size: .8em;
  padding: 0 .2em;
  vertical-align: middle;
}

.nav-box {
  background-color: $nav-box-bg;
}
