// Add my styles here
a {
  &:hover,
  &:focus,
  &:active {
    font-style: italic;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 2px;
  &.front-page {
    &:hover,
    &:focus,
    &:active {
      opacity: .6;
    }
  }
}

.current-page {
  background-color: $my-black-color;
  color: $my-white-color;
  &:hover,
  &:focus,
  &:active {
    color: $my-white-color;
    }
}
