// Add my styles here
a {
  text-decoration: underline;

  &.page-title {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $link-color;
    }
  }

  &.text-nav {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      font-style: italic;
    }
  }

  &.img-desc {
    font-style: italic;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $gray-light;
    }
}

  &.current-page {
    background-color: $my-black-color;
    color: $my-white-color;

    &:hover,
    &:focus,
    &:active {
      color: $my-white-color;
      }
  }
}

.post-hero {
  position: relative;
  top: -68px;
}

.hatch {
  font-size: 75%;
}

img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  max-width: 100%;

  &.front-page {
    &:hover,
    &:focus,
    &:active {
      opacity: .6;
    }
  }
}

.leftdiv,
.centerdiv,
.rightdiv {
  text-align: center;
}



@media (min-width: 768px) {
  .leftdiv {
    text-align: left;
  }

  .rightdiv {
    text-align: right;
  } }
