// Over ride boostrap variables here

$link-hover-decoration: none;
$link-color: #000;
$link-hover-color: lighten($link-color, 20%);
$font-family-serif: "Times New Roman", Times, serif, Georgia;
$font-family-base: $font-family-serif;

h1 {
    color: #fff;
    background-color: #000;
}

a {
  &:hover,
  &:focus {
      font-style: italic;
  }
  &:hover,
  &:focus, .active {
      color: #fff;
  }
 }

.active {
     color: #fff;
     background-color: #000;
 }


@import "bootstrap/variables"; //  make sure all vars are loaded
