// Override boostrap variables here

$my-black-color: #000;
$my-white-color: #fff;

//$link-hover-decoration: none;
$link-color: lighten($my-black-color, 20%);
$link-hover-color: lighten($link-color, 20%);

//$font-family-serif: "Times New Roman", Times, serif, Georgia;
//$font-family-base: $font-family-serif;
