---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include head.html %}
    <body>
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="separator around-top"></div>
            {% include header.html %}
            {% include nav.html %}
            <div class="separator around-top"></div>
            <main>
                {{ content }}
            </main>
            <div class="separator"></div>
            {% include footer.html %}
        </div>
    </body>
</html>
