---
layout: default
---
<div class="home">
    {{ content }}
        <div class="container-fluid">
            {% for post in site.posts %}
              {% if post.hero %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="{{ post.url | relative_url }}"><img class="image-responsive front-page" src="{{ site.url }}/assets/img/{{ post.date | date: "%Y-%m-%d" }}/{{ post.hero }}" alt="{{ post.title }}"></a>
                </div>
              {% else %}
                <a href="{{ post.url | relative_url }}">{{ post.excerpt }}</a>
              {% endif %}
            {% endfor %}
        </div>
</div>
