---
layout: page
---
<div>
  <header class="text-center">
      <a class="h2 current-page text-nav" href="{{ page.url }}">{{ page.title | escape }}</a>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>

  {% if page.image.feature %}
    <div class="text-center center-block">
      <img class="img-responsive" src={% if post.image.feature contains 'http' %}"{{ page.image.feature }}"{% else %}"{{ site.url }}/assets/img/{{ post.date | date: "%Y-%m-%d" }}/{{ post.image.feature }}"{% endif %} alt="{{ page.title }} image">
      {% if page.image.credit %}
        Source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>
      {% endif %}
    </div>
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>
</div>
