---
layout: default
---
<div class="container-fluid">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
      {% for post in site.categories.log %}
        <div>
          <header>
            <a href="{{ site.url }}{{ post.url }}" class="text-nav h3" title="{{ post.title }}">{{ post.title }}</a>
            <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></p>
          </header>

            {% if post.image %}
              <div class="block-center">
                <a href="{{ site.url }}{{ post.url }}">
                  <img src=
                  {% if post.image contains 'http' %}
                  "{{ post.image }}"
                  {% else %}
                  "{{ site.url }}/assets/img/{{ post.date | date: "%Y-%m-%d" }}/{{ post.image }}"
                  {% endif %}
                  alt="{{ post.title }} image" class="image-responsive">
                </a>
              </div>
            {% endif %}

            {% if post.excerpt %}
              <br />
              <div>
                  {{ post.excerpt }}
              </div>
            {% endif %}

            <p class="text-center h4"><a href="{{ site.url }}{{ post.url }}" class="text-nav" title="{{ post.title }}">…</a></p>
        </div>
      {% endfor %}
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>
