---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container">
      {% if page.categories contains "portfolio" %}
        <header class="text-left">
          <div class="col-md-7"></div>
          <div class="col-md-5">
            <a class="h2 text-nav current-page" href="{{ page.url }}">{{ page.title | escape }}</a>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
          </div>
        </header>
        <div class="col-md-7">
            <a href="#" data-featherlight="/assets/img/{{ page.date | date: "%Y-%m-%d" }}/{{ page.image }}">
              <img src="/assets/img/{{ page.date | date: "%Y-%m-%d" }}/{{ page.image }}" class="img-responsive" alt="{{ page.title }}">
            </a>
        </div>
        <div class="col-md-5">
          <article class="post-content">
            {{ content }}
          </article>
        </div>
        {% for img in page.images %}
          <div class="col-md-6">
            <a href="#" data-featherlight="/assets/img/{{ page.date | date: "%Y-%m-%d" }}/{{ img }}">
              <img src="/assets/img/{{ page.date | date: "%Y-%m-%d" }}/{{ img }}" class="img-responsive" alt="{{ img }}">
            </a>
          </div>
        {% endfor %}
      {% else %}
      <div class="col-sm-2 col-md-3"></div>
      <div class="col-sm-8 col-md-6">
        <header>
            <a class="h2 current-page text-nav" href="{{ page.url }}">{{ page.title | escape }}</a>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
        </header>
          {% if page.image %}
           <img class="img-responsive" src={% if post.image contains 'http' %}"{{ page.image }}"{% else %}"{{ site.url }}/assets/img/{{ page.date | date: "%Y-%m-%d" }}/{{ page.image }}"{% endif %} alt="{{ page.title }}">
          {% endif %}
              <br />
              <article class="post-content">
                {{ content }}
              </article>
      </div>
      <div class="col-sm-2 col-md-3"></div>
      {% endif %}
    </div>
</article>
